
.title-chart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.inputs-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}