.page-general-statistic {
  padding: 0px;
}

/* Title to section: General-statistic and Links */
.general-title {
  border-bottom: solid 0.5px $lines-color;
  height: 25px;

  .title {
    padding-left: 20px;
    text-transform: uppercase; 
  }
}

.general-date {
  border-bottom: solid 0.5px $lines-color;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form-date {
  height: 25px;
  border: 0.5px solid $lines-color;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    height: 15px;
    width: 120px;
    border: none;
    font-family: $brand-font;
    font-size: $fs-10;
    color: $text-color-2;
    padding: 3px 3px 3px 10px;
  }

  .date-to {
    border-left: 0.5px solid $lines-color;
  }
}  


.general-content {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.general-chart {
  height: 500px;
}




