
.title-chart {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  margin: 0px 10%;
}


.inputs-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.main-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}