/* btn + add new */
.button-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.page-links {
  padding: 0px;
  
  .table-for-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.table-warraper-links {
  table {
    border-bottom: 0.5px solid $lines-color;
    border-collapse: collapse;

    &:first-child {
      border-top: 0.5px solid $lines-color;
    }
    
    &:hover {
      background-color: #d6d6d6;
    }
    
    .td-links-text {
      width: 200px;
    }

    .td-links-link {
      width: 300px;
    }

    .td-links-icon {
      width: 30px;
    }
  }
}


.link-text {
  white-space: nowrap;
}


.td-links-icon:hover i {
  color: $hover-color-1;
}


.link-to-page {
  text-decoration: none;
  font-family: $brand-font;
  font-size: $fs-12;
  color: blue;
}