.page-links {
  padding: 0px;
  
  .general-title {
    border-bottom: solid 0.5px $lines-color;
    height: 25px;

    .title {
      padding-left: 20px;
      text-transform: uppercase; 
    }
  }

  /* btn + add new */
  .button-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-for-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.table-warraper-links {
  table {
    border-bottom: 0.5px solid $lines-color;
    border-collapse: collapse;

    &:first-child {
      border-top: 0.5px solid $lines-color;
    }
    
    &:hover {
      background-color: #d6d6d6;
    }
    
    .td-links-text {
      width: 200px;

      .link-text {
        white-space: nowrap;
      }
    }

    .td-links-link {
      width: 300px;

      .link-to-page {
        text-decoration: none;
        font-family: $brand-font;
        font-size: $fs-12;
        color: blue;
      }
    }

    .td-links-icon {
      width: 30px;

      &:hover i {
        color: $hover-color-1;
      }
    }
  }
}


@media (max-width: 800px) {
  .table-warraper-links {
    table {
      .td-links-text {
        width: 100px;
      }

      .td-links-link {
        width: 180px;

        .link-to-page {
          font-size: $fs-10;
        }
      }
    }
  }
}


@media (max-width: 566px) {
  .table-warraper-links {
    table {
      .td-links-text {
        width: 80px;

        h3 {
          font-size: $fs-10;
        }
      }

      .td-links-link {
        width: 150px;

        .link-to-page {
          font-size: $fs-10;
        }
      }
    }
  }
}