.page-links {
    padding: 0px;
}

.button-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.table-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}