.navigation {
  ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 15px;
  }
}

.navigation li {
  display: inline-block;
  white-space: nowrap;
  border-left: solid 0.5px $lines-color;
  font-family: $paragraph-font;
  padding: 10px;
  font-size: 10px;
  margin-block-end: auto;
  
  &:last-child {
    border-right: solid 0.5px $lines-color;
  }

  a {
    text-decoration: none;
    color: $text-color;
  
    &:hover {
      color: $hover-color-1;
    }
  
    &:hover i {
      color: $hover-color-1;
    }

    .login {
      display: inline-block;
      color: blue;
      margin: 0px;
    
      &:hover {
        color: $hover-color-1;
      }
    }
  }

  .link-notification {
    position: relative;
    
    .notification {
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $notification;
      top: -5px;
      left: 13px;
    }
  }
}