.menu-title {
  height: 30px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 200px;
  border-bottom: 0.3px solid $text-color;
  padding-bottom: 20px;

  .list {
    padding-left: 0;
  }

  .menu-list-elem {
    display: flex;
    align-items: center;
  }
}


@media (max-width: 566px) {
  .menu-sidebar {
    display: none;
    
  }

  .hamburger {
    display: block; 
  }
    // > .active {
    //   display: block;
    // }
}