
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu-sidebar {
  width: 200px;
  background-color: $menu-background;  
}

.container-main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navigation {
  
  background-color: $page-content-background;
}

.wrapper {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  
}

.main-page {
  display: flex;
  flex-direction: column;
  background-color: $page-background;
  
}

.page {
    margin: 15px 15px 0;
    padding:  10px 20px;
    background-color: $page-content-background;
  }
 