
body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
}

.menu-sidebar {
  width: 150px;
  background-color: $menu-background;
}

.container-main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navigation {
  background-color: $page-content-background;
  height: 35px;
  width: 100%;
  border-bottom: solid 1px $lines-color;
  align-items: center;
  justify-content: flex-end;
}

.main-page {
  display: flex;
  flex-direction: column;
  background-color: $page-background;
  overflow-y: scroll;
}

.page {
  margin: 15px 15px 0;
  padding: 10px 20px;
  background-color: $page-content-background;

  &:last-child {
    margin-bottom: 15px;
  }  
}

@media (max-width: 566px) {
  .navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    border-bottom: none;
    border-top: solid 1px $lines-color;
  }
}


 