/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$menu-background: #000000;
$page-background: #d9d9d9;
$page-content-background: #ffffff;
$lines-color: #bdbdbd;
$text-color: #8c8c8c;
$hover-color-1: #f58220;
$notification: #ff7c09;


/* Fonts */
$brand-font: 'Open Sans', sans-serif;
$paragraph-font: 'Roboto', sans-serif;
$logo-font: 'Just Another Hand', cursive;


/* Text */
p {
  font-family: $paragraph-font;
  font-size: 10px;
}


/* Fonts sizes */
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;