.hamburger {
  display: none;
  width: 15px;
  height: 15px;
  border: 0;
  border-top: 2px solid $text-color-2;
  background: transparent;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: 0.3s border-top $text-color-2;
  margin-inline-end: auto;

  &::after, &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid black;
    transform: translateY(6px);
    transition: 0.5s border-top linear;
  }

  &::after {
    transform: translateY(13px);
    transition: 0.7s border-top linear;
    
  }

  &:focus {
    border-top: 2px solid $text-color;
  }

  &:focus::before {
    border-top: 2px solid $text-color;
  }

  &:focus::after {
    border-top: 2px solid $text-color;
  }
}